
<h1>Stupid coaching</h1>
  <div class="ask">
    <h2><%= @ask%></h2>
    <p>You ask</p>
  </div>
  <div class="answer">
    <h2><%= @answer%></h2>
    <p>Your coach</p>
  </div>
<%= link_to "Ask another questions?", "ask" %>
